<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.product.repository.mapper.AcrmFpdProdInfoMapper">
	<!-- 产品信息查询 -->
    <select id="productInfoQuery" parameterType="java.util.Map"
            resultType="cn.com.yusys.yscrm.product.domain.AcrmFPdProdShortInfo">SELECT PS.DATA_DATE, PS.PROD_CODE,
        PS.PROD_NAME, PS.PROD_STATUS, PS.RATE, PS.RISK_LEVEL, PS.SRC_PROD_CODE, PS.SUBSCRIBE_END_DATE,
        PS.SUBSCRIBE_START_DATE, trunc(PS.TERM) TERM FROM ACRM_F_PD_PROD_SHORT_INFO PS
        <where>
            <if test="condition.prodCode != null and condition.prodCode != ''">AND PS.PROD_CODE LIKE
                #{condition.prodCode,jdbcType=VARCHAR}
            </if>
            <if test="condition.prodName != null and condition.prodName != ''">AND PS.PROD_NAME like
                #{condition.prodName,jdbcType=VARCHAR}
            </if>
            <if test="condition.prodStatus != null and condition.prodStatus != ''">AND PS.PROD_STATUS =
                #{condition.prodStatus,jdbcType=VARCHAR}
            </if>
            <if test="condition.srcProdCode != null and condition.srcProdCode != ''">AND PS.PROD_CODE =
                #{condition.srcProdCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

	<!-- 根据产品编号删除产品信息 -->
    <delete id="delerteProductInfo" parameterType="String">
		DELETE FROM ACRM_F_PD_PROD_INFO A
		WHERE A.PRODUCT_ID = #{condition.productId,jdbcType=VARCHAR}
	</delete>
	<!-- 产品信息查询 -->
    <select id="trustProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			TP.PROD_CODE, TP.SRC_PROD_CODE, TP.PROD_NAME, TP.PROD_ENG_NAME, TP.PROD_SHORT_NAME, TP.TA_CODE,
			TP.ESCROW_BANK_NO, TP.ESCROW_ACCT_NO, TP.ESCROW_FEE_RATE, TP.PROD_STATUS,
			to_char(TP.PROD_ESTABLISH_DATE,'yyyy-MM-dd') PROD_ESTABLISH_DATE, to_char(TP.PROD_EXPIRY_DATE,'yyyy-MM-dd')
			PROD_EXPIRY_DATE, TP.PRICE_CCY, to_char(TP.SUBSCRIBE_START_DATE,'yyyy-MM-dd') PROD_EXPIRY_DATE,
			to_char(TP.SUBSCRIBE_END_DATE,'yyyy-MM-dd') PROD_EXPIRY_DATE, TP.TRANS_START_TIME, TP.TRANS_CCY,
			TP.FIRST_MIN_INVEST_AMT, TP.TOTAL_AMT, TP.SOLD_AMT, TP.BOUNS_TYPE, TP.MIN_APPEND_INVEST_AMT,
			TP.MIN_CONVERSION_AMT, TP.MIN_REDEEM_AMT, TP.MIN_HOLD_AMT, TP.MANAGE_FEE_RATE, TP.HUGE_AMT_REDEEM_FLAG,
			TP.PROD_NET_VALUE, TP.PROD_AMT_CTL_FLAG, TP.LIQU_MODE, TP.SINGLE_MIN_REDEEM_SHARE, TP.MIN_HOLD_AMT,
			TP.ORG_CTL_FLAG, TP.ORG_SINGLE_MIN_REDEEM_SHARE, TP.ORG_SINGLE_MAX_REDEEM_SHARE, TP.ORG_FIRST_MIN_INVEST_AMT,
			TP.ORG_MIN_APPEND_INVEST_AMT, TP.TRANS_END_TIME, TP.ALLOW_CHANNEL_GROUP, TP.PAR_VALUE,
			TP.REDEEM_AMT_RECEIPT_DAY, TP.BONUS_RECIVED_DAYS, TP.TEMPLATE_PROD_NO, TP.FINANCE_PROD_TYPE, TP.FEE_CAL_TYPE,
			TP.SHARE_DECIMAL_POINT, TP.REPAY_DATE_TYPE, TP.INCOME_FEATURES, TP.RISK_LEVEL, TP.MIN_SUBSCRIBE_UNIT,
			TP.ALLROW_CUST_PPROPERTY_GROUP, TP.MIN_REDEEM_UNIT, TP.SUBSCRIBE_TYPE, TP.SUBSCRIBE_REFUND_SETTLE_DAYS,
			TP.RELEASE_FUND_DAYS_OF_PUBLISH_FAILURE,TP.DETAIL_REDEEM_TYPE, TP.CASH_FLAG, TP.SUBSCRIBE_REVOKE_FLAG,
			TP.MONTH_END_NET_VALUE, TP.NET_VALUE_SHOW_TYPE, TP.EXPECT_RETURN_RATE, trunc(PS.TERM) TERM,
			TP.PROD_SPECIAL_ATTR, TP.FOUNDCOST, TP.EXPECT_MAX_RETURN_RATE, TP.EXPECT_MIN_RETURN_RATE, TP.PROD_SALE_ATTR,
			TP.PROD_SALE_RANGE, TP.IS_AUTO_UPDATE, TP.LAST_CHG_USER_ID, TP.LAST_CHG_USER_NAME, TP.LAST_CHG_DATE,
			PC.CATL_NAME
		FROM ACRM_F_PD_TRUST_PROD_INFO TP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(TP.PROD_CODE,0,7) = PC.CATL_CODE
		LEFT JOIN ACRM_F_PD_PROD_SHORT_INFO PS ON TP.PROD_CODE = PS.PROD_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND TP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND TP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY TP.PROD_CODE
    </select>
    <select id="conTrustProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			CP.PROD_CODE, CP.SRC_SYSTEM_NO, CP.SRC_PROD_CODE, CP.PROD_NAME, CP.PROD_ENG_NAME, CP.PROD_SHORT_NAME,
			CP.TA_CODE, CP.PROD_ESCROW_FEE_RATE, to_char(CP.PROD_ESTABLISH_DATE,'yyyy-MM-dd') PROD_ESTABLISH_DATE,
			to_char(CP.PROD_EXPIRY_DATE,'yyyy-MM-dd') PROD_EXPIRY_DATE, CP.PROD_CCY, CP.TRANS_CCY, CP.FIRST_MIN_INVEST_AMT,
			CP.PROD_TOTAL_AMT, CP.PROD_SOLD_AMT, CP.DEFAULT_BOUNS_TYPE, CP.PROD_MANAGER_NAME, CP.PROD_TRUSTEE_NO,
			CP.PROD_TRUSTEE_NAME, CP.MIN_APPEND_INVEST_AMT, CP.MANAGE_FEE_RATE, CP.DEFAULT_HUGE_REDEEM_FLAG,
			CP.PROD_NET_VALUE, CP.AMT_CTL_FLAG, CP.LIQU_MODE, CP.SINGLE_MIN_REDEEM_SHARE, CP.MIN_HOLD_SHARE,
			CP.ORG_CTL_FLAG, CP.ORG_SINGLE_MIN_REDEEM_SHARE, CP.ORG_SINGLE_MAX_REDEEM_SHARE, CP.ORG_FIRST_MIN_INVEST_AMT,
			CP.ORG_MIN_APPEND_INVEST_AMT, CP.ALLOW_CHANNEL_GROUP, CP.PROD_PAR_VALUE, CP.REDEEM_AMT_RECEIPT_DAY,
			CP.BONUS_RECIVED_DAYS, CP.FEE_CHARGE_TYPE, CP.SHARE_DECIMAL_POINT, CP.REPAY_DATE_TYPE, CP.RISK_LEVEL,
			CP.MIN_SUBSCRIBE_UNIT, CP.ALLROW_CUST_PPROPERTY_GROUP, CP.MIN_REDEEM_UNIT, CP.SUBSCRIBE_TYPE,
			CP.SUBSCRIBE_REFUND_SETTLE_DAYS, CP.RELEASE_FUND_DAYS_OF_PUBLISH_FAILURE, CP.DETAIL_REDEEM_TYPE, CP.CASH_FLAG,
			trunc(PS.TERM) TERM, CP.PROD_STARTER, CP.PROD_STARTER_NAME, CP.PROD_MANAGER, PC.CATL_NAME, CP.PUBLISH_PRICE,
			to_char(CP.RAISE_START_DATE,'yyyy-MM-dd') RAISE_START_DATE, to_char(CP.RAISE_END_DATE,'yyyy-MM-dd')
			RAISE_END_DATE, CP.SUBSCRIBE_REVOKE_FLAG, CP.MARKET_OPEN_TIME, CP.CLOSED_TIME, CP.TRANSFORM_FLAG, CP.PROD_ATTR,
			CP.PROD_SHARE, CP.PROD_TOTAL_NET_VALUE, CP.PROD_STATUS, CP.SINGLE_MAX_REDEEM_SHARE, CP.ALLOW_BOUNS_TYPE,
			CP.MIN_AUTO_SUBSCRIPTION_SHARE, CP.PROD_SUSPEND_IS_ALLOW_AIP, CP.PROD_SALE_ATTR, CP.PROD_SALE_RANGE,
			CP.PROD_AMT, CP.MIN_TRANSFROM_SHARE, CP.IS_AUTO_UPDATE, CP.LAST_CHG_USER_ID, CP.LAST_CHG_USER_NAME,
			CP.LAST_CHG_DATE
		FROM ACRM_F_PD_CONTRUST_PROD_INFO CP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(CP.PROD_CODE,0,7) = PC.CATL_CODE
		LEFT JOIN ACRM_F_PD_PROD_SHORT_INFO PS ON CP.PROD_CODE = PS.PROD_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND CP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND CP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY CP.PROD_CODE
    </select>
    <select id="structProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			SP.PROD_CODE, SP.SRC_PROD_CODE, SP.PROD_NAME, SP.PROD_ENG_NAME, SP.PROD_SHORT_NAME, SP.TA_CODE,
			SP.ESCROW_BANK_NO, SP.ESCROW_ACCT_NO, SP.ESCROW_FEE_RATE, SP.PROD_STATUS,
			to_char(SP.PROD_ESTABLISH_DATE,'yyyy-MM-dd') PROD_ESTABLISH_DATE, to_char(SP.PROD_EXPIRY_DATE,'yyyy-MM-dd')
			PROD_EXPIRY_DATE, SP.TRANS_END_TIME, to_char(SP.SUBSCRIBE_START_DATE,'yyyy-MM-dd') SUBSCRIBE_START_DATE,
			to_char(SP.SUBSCRIBE_END_DATE,'yyyy-MM-dd') SUBSCRIBE_END_DATE, SP.TRANS_START_TIME, SP.PRICE_CCY,
			SP.FIRST_MIN_INVEST_AMT, SP.TOTAL_AMT, SP.SOLD_AMT, SP.BOUNS_TYPE, SP.MIN_APPEND_INVEST_AMT,
			SP.MIN_CONVERSION_AMT, SP.MIN_REDEEM_AMT, SP.MIN_HOLD_AMT, SP.MANAGE_FEE_RATE, SP.HUGE_AMT_REDEEM_FLAG,
			SP.PROD_NET_VALUE, SP.PROD_AMT_CTL_FLAG, SP.LIQU_MODE, SP.SINGLE_MIN_REDEEM_SHARE, PC.CATL_NAME,
			SP.MIN_HOLD_SHARE, SP.ORG_CTL_FLAG, SP.ORG_SINGLE_MIN_REDEEM_SHARE, SP.ORG_SINGLE_MAX_REDEEM_SHARE,
			SP.ORG_FIRST_MIN_INVEST_AMT, SP.ORG_MIN_APPEND_INVEST_AMT, SP.ALLOW_CHANNEL_GROUP, SP.PAR_VALUE,
			SP.REDEEM_AMT_RECEIPT_DAY, SP.BONUS_RECIVED_DAYS, SP.TEMPLATE_PROD_NO, SP.FINANCE_PROD_TYPE, SP.FEE_CAL_TYPE,
			SP.SHARE_DECIMAL_POINT, SP.REPAY_DATE_TYPE, SP.INCOME_FEATURES, SP.RISK_LEVEL, SP.MIN_SUBSCRIBE_UNIT,
			SP.ALLROW_CUST_PPROPERTY_GROUP, SP.MIN_REDEEM_UNIT, SP.SUBSCRIBE_TYPE, SP.SUBSCRIBE_REFUND_SETTLE_DAYS,
			SP.RELEASE_FUND_DAYS_OF_PUBLISH_FAILURE, SP.DETAIL_REDEEM_TYPE, SP.CASH_FLAG, SP.SUBSCRIBE_REVOKE_FLAG,
			SP.MONTH_END_NET_VALUE, SP.NET_VALUE_SHOW_TYPE, SP.EXPECT_RETURN_RATE, trunc(PS.TERM) TERM, SP.TRANS_CCY,
			SP.FOUNDCOST, SP.EXPECT_MAX_RETURN_RATE, SP.EXPECT_MIN_RETURN_RATE, SP.PROD_SALE_ATTR, SP.PROD_SALE_RANGE,
			SP.IS_AUTO_UPDATE, SP.LAST_CHG_USER_ID, SP.LAST_CHG_USER_NAME, SP.LAST_CHG_DATE
		FROM ACRM_F_PD_STRUCT_PROD_INFO SP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(SP.PROD_CODE,0,7) = PC.CATL_CODE
		LEFT JOIN ACRM_F_PD_PROD_SHORT_INFO PS ON SP.PROD_CODE = PS.PROD_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND SP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND SP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY SP.PROD_CODE
    </select>
    <select id="qdiiProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
				QP.PROD_CODE, QP.SRC_PROD_CODE, QP.PROD_NAME, QP.PROD_ENG_NAME, QP.PROD_SHORT_NAME, QP.TA_CODE, QP.ESCROW_BANK_NO,
				QP.ESCROW_ACCT_NO, QP.ESCROW_FEE_RATE, QP.PROD_STATUS, to_char(QP.PROD_EXPIRY_DATE,'yyyy-MM-dd')
				PROD_EXPIRY_DATE, to_char(QP.SUBSCRIBE_START_DATE,'yyyy-MM-dd') SUBSCRIBE_START_DATE,
				to_char(QP.SUBSCRIBE_END_DATE,'yyyy-MM-dd') SUBSCRIBE_END_DATE, QP.TRANS_START_TIME, QP.TRANS_END_TIME,
				QP.PRICE_CCY, QP.TRANS_CCY, QP.PROD_ESTABLISH_DATE, QP.FIRST_MIN_INVEST_AMT, QP.TOTAL_AMT, QP.SOLD_AMT,
				QP.BOUNS_TYPE, QP.MIN_APPEND_INVEST_AMT, QP.MIN_CONVERSION_AMT, QP.MIN_REDEEM_AMT, QP.MIN_HOLD_AMT,
				QP.MANAGE_FEE_RATE, QP.HUGE_AMT_REDEEM_FLAG, QP.PROD_NET_VALUE, QP.PROD_AMT_CTL_FLAG, QP.LIQU_MODE,
				QP.SINGLE_MIN_REDEEM_SHARE, QP.MIN_HOLD_SHARE, QP.ORG_CTL_FLAG, QP.ORG_SINGLE_MIN_REDEEM_SHARE,
				QP.ORG_SINGLE_MAX_REDEEM_SHARE, QP.ORG_FIRST_MIN_INVEST_AMT, QP.ORG_MIN_APPEND_INVEST_AMT,
				QP.ALLOW_CHANNEL_GROUP, QP.PAR_VALUE, QP.REDEEM_AMT_RECEIPT_DAY, QP.QDII_PROD_TYPE, QP.FEE_CAL_TYPE,
				QP.SHARE_DECIMAL_POINT, QP.REPAY_DATE_TYPE, QP.INCOME_FEATURES, QP.FOREIGN_AMT_OPERATE_TYPE,
				QP.MIN_SUBSCRIBE_UNIT, QP.ALLROW_CUST_PPROPERTY_GROUP, QP.MIN_REDEEM_UNIT, trunc(PS.TERM) TERM, QP.RISK_LEVEL,
				QP.PROD_SALE_ATTR, QP.PROD_SALE_RANGE, QP.IS_AUTO_UPDATE, QP.LAST_CHG_USER_ID, QP.LAST_CHG_USER_NAME,
				QP.LAST_CHG_DATE, PC.CATL_NAME
		FROM ACRM_F_PD_QDII_PROD_INFO QP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(QP.PROD_CODE,0,7) = PC.CATL_CODE
		LEFT JOIN ACRM_F_PD_PROD_SHORT_INFO PS ON QP.PROD_CODE = PS.PROD_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND QP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND QP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY QP.PROD_CODE
    </select>
    <select id="agentProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			AP.PROD_CODE, AP.SRC_PROD_CODE, AP.PROD_NAME, AP.PROD_ENG_NAME, AP.PROD_SHORT_NAME, AP.TA_CODE,
			AP.ESCROW_BANK_NO, AP.ESCROW_ACCT_NO, AP.ESCROW_FEE_RATE, AP.PROD_STATUS,
			to_char(AP.SUBSCRIBE_START_DATE,'yyyy-MM-dd') SUBSCRIBE_START_DATE, to_char(AP.SUBSCRIBE_END_DATE,'yyyy-MM-dd')
			SUBSCRIBE_END_DATE, AP.TRANS_START_TIME, AP.TRANS_END_TIME, AP.PRICE_CCY, AP.TRANS_CCY, AP.FIRST_MIN_INVEST_AMT,
			AP.IS_AUTO_UPDATE, AP.LAST_CHG_USER_ID, AP.LAST_CHG_USER_NAME, AP.BOUNS_TYPE, AP.PROD_NET_VALUE,
			AP.PROD_AMT_CTL_FLAG, AP.LIQU_MODE, AP.ORG_CTL_FLAG, AP.ORG_FIRST_MIN_INVEST_AMT, AP.ALLOW_CHANNEL_GROUP,
			AP.PAR_VALUE, AP.REDEEM_AMT_RECEIPT_DAY, AP.BONUS_RECIVED_DAYS, AP.SHARE_DECIMAL_POINT, AP.REPAY_DATE_TYPE,
			AP.RISK_LEVEL, AP.ALLOW_CUST_PROPERTY_GROUP, PC.CATL_NAME, AP.EXPECT_RETURN_RATE, trunc(PS.TERM) TERM,
			AP.PROXY_FEE_RATE, to_char(AP.PROD_SETTLE_DATE,'yyyy-MM-dd') PROD_SETTLE_DATE, AP.PROD_SALE_RANGE, AP.FOUNDCOST,
			to_char(AP.PROD_EXPIRY_DATE,'yyyy-MM-dd') PROD_EXPIRY_DATE, AP.SUBSCRIBE_REFUND_SETTLE_DAYS,
			AP.EXPECT_MAX_RETURN_RATE, AP.EXPECT_MIN_RETURN_RATE, AP.PROD_SALE_ATTR, AP.LAST_CHG_DATE
		FROM ACRM_F_PD_AGENT_PROD_INFO AP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(AP.PROD_CODE,0,7) = PC.CATL_CODE
		LEFT JOIN ACRM_F_PD_PROD_SHORT_INFO PS ON AP.PROD_CODE = PS.PROD_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND AP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND AP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY AP.PROD_CODE
    </select>
    <select id="fundProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			FP.PROD_CODE, FP.SRC_PROD_CODE, FP.PROD_NAME, FP.PROD_ENG_NAME, FP.PROD_SHORT_NAME, FP.TA_CODE, FP.PROD_ESCROW_FEE_RATE,
			FP.PROD_SALE_ATTR, to_char(FP.PROD_ESTABLISH_DATE,'yyyy-MM-dd') PROD_ESTABLISH_DATE,
			to_char(FP.PROD_EXPIRY_DATE,'yyyy-MM-dd') PROD_EXPIRY_DATE, FP.PROD_CCY, FP.TRANS_CCY, FP.FIRST_MIN_INVEST_AMT,
			FP.PROD_TOTAL_AMT, FP.PROD_SOLD_AMT, FP.DEFAULT_BOUNS_TYPE, FP.MIN_APPEND_INVEST_AMT,
			FP.PROD_SUSPEND_IS_ALLOW_AIP, FP.MANAGE_FEE_RATE, FP.DEFAULT_HUGE_REDEEM_FLAG, FP.PROD_NET_VALUE,
			FP.AMT_CTL_FLAG, FP.LIQU_MODE, FP.SINGLE_MIN_REDEEM_SHARE, FP.MIN_HOLD_SHARE, FP.ORG_CTL_FLAG,
			FP.ORG_SINGLE_MIN_REDEEM_SHARE, FP.ORG_SINGLE_MAX_REDEEM_SHARE, FP.ORG_FIRST_MIN_INVEST_AMT,
			FP.ORG_MIN_APPEND_INVEST_AMT, PC.CATL_NAME, FP.ALLOW_CHANNEL_GROUP, FP.PROD_PAR_VALUE,
			FP.REDEEM_AMT_RECEIPT_DAY, FP.BONUS_RECIVED_DAYS, FP.FEE_CHARGE_TYPE, FP.SHARE_DECIMAL_POINT,
			FP.REPAY_DATE_TYPE, FP.RISK_LEVEL, FP.MIN_SUBSCRIBE_UNIT, FP.ALLROW_CUST_PPROPERTY_GROUP, FP.MIN_REDEEM_UNIT,
			FP.SUBSCRIBE_TYPE, FP.SUBSCRIBE_REFUND_SETTLE_DAYS, FP.RELEASE_FUND_DAYS_OF_PUBLISH_FAILURE,
			FP.DETAIL_REDEEM_TYPE, FP.CASH_FLAG, trunc(PS.TERM) TERM, FP.PROD_STARTER, FP.PROD_STARTER_NAME,
			FP.PROD_MANAGER, FP.PROD_MANAGER_NAME, FP.PROD_TRUSTEE_NO, FP.PROD_TRUSTEE_NAME, FP.PUBLISH_PRICE,
			to_char(FP.RAISE_START_DATE,'yyyy-MM-dd') RAISE_START_DATE, to_char(FP.RAISE_END_DATE,'yyyy-MM-dd')
			RAISE_END_DATE, FP.SUBSCRIBE_REVOKE_FLAG, FP.PROD_SALE_RANGE, FP.IS_AUTO_UPDATE, FP.LAST_CHG_USER_ID,
			FP.MARKET_OPEN_TIME, FP.CLOSED_TIME, Fp.TRANSFORM_FLAG, Fp.PROD_ATTR, FP.PROD_SHARE, FP.PROD_TOTAL_NET_VALUE,
			FP.PROD_STATUS, FP.SINGLE_MAX_REDEEM_SHARE, FP.ALLOW_BOUNS_TYPE, FP.MIN_FUND_CONVERSION_SHARE,
			FP.MIN_AUTO_SUBSCRIPTION_SHARE, FP.PROD_AMT, FP.LAST_CHG_USER_NAME, FP.LAST_CHG_DATE
		FROM ACRM_F_PD_FUND_PROD_INFO FP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(FP.PROD_CODE,0,7) = PC.CATL_CODE
		LEFT JOIN ACRM_F_PD_PROD_SHORT_INFO PS ON FP.PROD_CODE = PS.PROD_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND FP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND FP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY FP.PROD_CODE
    </select>
    <select id="managProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			MP.PROD_CODE, MP.SRC_SYSTEM_NO, MP.SRC_PROD_CODE, MP.PROD_NAME, MP.PROD_ENG_NAME, MP.PROD_SHORT_NAME,
			MP.TA_CODE, MP.PROD_ESCROW_FEE_RATE, to_char(MP.PROD_ESTABLISH_DATE,'yyyy-MM-dd') PROD_ESTABLISH_DATE,
			to_char(MP.PROD_EXPIRY_DATE,'yyyy-MM-dd') PROD_EXPIRY_DATE, MP.PROD_CCY, MP.TRANS_CCY, MP.FIRST_MIN_INVEST_AMT,
			MP.PROD_TOTAL_AMT, MP.PROD_SOLD_AMT, MP.DEFAULT_BOUNS_TYPE, to_char(MP.RAISE_END_DATE,'yyyy-MM-dd')
			RAISE_END_DATE, MP.MIN_APPEND_INVEST_AMT, MP.MANAGE_FEE_RATE, MP.DEFAULT_HUGE_REDEEM_FLAG, MP.PROD_NET_VALUE,
			MP.AMT_CTL_FLAG, MP.LIQU_MODE, MP.SINGLE_MIN_REDEEM_SHARE, MP.MIN_HOLD_SHARE, MP.ORG_CTL_FLAG,
			MP.ORG_SINGLE_MIN_REDEEM_SHARE, MP.ORG_SINGLE_MAX_REDEEM_SHARE, MP.ORG_FIRST_MIN_INVEST_AMT,
			MP.ORG_MIN_APPEND_INVEST_AMT, MP.ALLOW_CHANNEL_GROUP, MP.PROD_PAR_VALUE, MP.REDEEM_AMT_RECEIPT_DAY,
			MP.BONUS_RECIVED_DAYS, MP.FEE_CHARGE_TYPE, MP.SHARE_DECIMAL_POINT, MP.REPAY_DATE_TYPE, MP.RISK_LEVEL,
			MP.MIN_SUBSCRIBE_UNIT, MP.ALLROW_CUST_PPROPERTY_GROUP, MP.MIN_REDEEM_UNIT, MP.SUBSCRIBE_TYPE,
			MP.SUBSCRIBE_REFUND_SETTLE_DAYS, PC.CATL_NAME, MP.RELEASE_FUND_DAYS_OF_PUBLISH_FAILURE, MP.DETAIL_REDEEM_TYPE,
			MP.CASH_FLAG, trunc(PS.TERM) TERM, MP.PROD_STARTER, MP.PROD_STARTER_NAME, MP.PROD_MANAGER, MP.PROD_MANAGER_NAME,
			MP.PROD_TRUSTEE_NO, MP.PROD_TRUSTEE_NAME, MP.PUBLISH_PRICE, to_char(MP.RAISE_START_DATE,'yyyy-MM-dd')
			RAISE_START_DATE, MP.MARKET_OPEN_TIME, MP.CLOSED_TIME, MP.TRANSFORM_FLAG, MP.PROD_ATTR, MP.PROD_SHARE,
			MP.PROD_TOTAL_NET_VALUE, MP.PROD_STATUS, MP.SINGLE_MAX_REDEEM_SHARE, MP.ALLOW_BOUNS_TYPE,
			MP.MIN_FUND_CONVERSION_SHARE, MP.MIN_AUTO_SUBSCRIPTION_SHARE, MP.PROD_AMT, MP.PROD_SALE_ATTR,
			MP.PROD_SALE_RANGE, MP.SUBSCRIBE_REVOKE_FLAG, MP.PROD_SUSPEND_IS_ALLOW_AIP,MP.IS_AUTO_UPDATE,
			MP.LAST_CHG_USER_ID, MP.LAST_CHG_USER_NAME, MP.LAST_CHG_DATE
		FROM ACRM_F_PD_MANAG_PROD_INFO MP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(MP.PROD_CODE,0,7) = PC.CATL_CODE
		LEFT JOIN ACRM_F_PD_PROD_SHORT_INFO PS ON MP.PROD_CODE = PS.PROD_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND MP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND MP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY MP.PROD_CODE
    </select>
    <select id="insuranceProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			IP.PROD_CODE, Ip.SRC_PROD_CODE, IP.PROD_NAME, IP.INSURANCE_COMPANY_NAME,
			to_char(IP.SALE_START_DATE,'yyyy-MM-dd') SALE_START_DATE, to_char(IP.SALE_END_DATE,'yyyy-MM-dd') SALE_END_DATE,
			IP.PAY_YEAR_TERM, IP.INSUANCE_TERM, IP.PAY_TYPE, IP.LAST_CHG_USER_NAME, IP.MAIN_ADDITION_FLAG, IP.INSURE_AGE,
			IP.MIN_SALE_AMT, IP.INSURANSE_LIABILITY,IP.IS_AUTO_UPDATE, IP.LAST_CHG_USER_ID, IP.LAST_CHG_DATE, PC.CATL_NAME
        FROM ACRM_F_PD_INSURANCE_PROD_INFO IP
        LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(IP.PROD_CODE,0,7) = PC.CATL_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND IP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND IP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY IP.PROD_CODE
    </select>
    <select id="loanProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			LP.PROD_CODE, LP.SRC_PROD_CODE, LP.PROD_NAME, LP.IS_NEED_COLLATERAL, LP.CCY, LP.TERM, LP.MAX_LOAN_AMT, LP.MIN_LOAN_AMT,
			LP.BASE_RATE, LP.RATE_FLOAT_RATE, LP.RATE, LP.FEE_AMT, LP.GUARANTEE_TYPE,
			LP.COOPERATE_PROJECT,LP.IS_AUTO_UPDATE, LP.LAST_CHG_USER_ID, LP.LAST_CHG_USER_NAME, LP.LAST_CHG_DATE,
			PC.CATL_NAME, to_char(LP.EFFECT_DATE,'yyyy-MM-dd') EFFECT_DATE, to_char(LP.INVALID_DATE,'yyyy-MM-dd') INVALID_DATE
		FROM ACRM_F_PD_LOAN_PROD_INFO LP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(LP.PROD_CODE,0,7) = PC.CATL_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND LP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND LP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY LP.PROD_CODE
    </select>
    <select id="creditcardProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			CP.PROD_CODE, CP.SRC_PROD_CODE, CP.PROD_NAME, CP.PROD_DESCRIPTION, CP.BANK_SERVICE_NO, CP.CARD_BRAND,
			CP.FOREIGN_CCY, CP.SALE_GUIDE, CP.CARD_VALIDITY_TERM_YEAR, CP.CARD_MEDIUM, CP.PROD_STATUS,
			CP.CARD_TRIGHT_FEATURE, CP.RECOMMEND_REASON, to_char(CP.EFFECT_DATE,'yyyy-MM-dd') EFFECT_DATE,
			CP.IS_AUTO_UPDATE, to_char(CP.INVALID_DATE,'yyyy-MM-dd') INVALID_DATE, CP.LAST_CHG_USER_NAME, CP.LAST_CHG_DATE,
			CP.PROD_MGR_ID, CP.PROD_MGE_NAME, PC.CATL_NAME, CP.LAST_CHG_USER_ID
		FROM ACRM_F_PD_CREDITCARD_PROD_INFO CP LEFT
        JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(CP.PROD_CODE,0,7) = PC.CATL_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND CP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND CP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY CP.PROD_CODE
    </select>
    <select id="depositProductBasicInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			DP.PROD_CODE, DP.SRC_PROD_CODE, DP.PROD_NAME, DP.CCY, DP.TERM, DP.TERM_TYPE, DP.BASIC_DAYS, DP.BASE_RATE,
			DP.RATE_TYPE, DP.RATE, DP.FLOAT_RATE, PC.CATL_NAME, DP.RATE_FLOAT_RATIO, DP.PBOC_RATE_FLAG,
			to_char(DP.EFFECT_DATE,'yyyy-MM-dd') EFFECT_DATE, to_char(DP.INVALID_DATE,'yyyy-MM-dd') INVALID_DATE,
			DP.MIN_RATE, DP.IS_AUTO_UPDATE, DP.LAST_CHG_USER_ID, DP.LAST_CHG_USER_NAME, DP.LAST_CHG_DATE, DP.MAX_RATE,
			DP.AMT, DP.MIN_DEPOSIT_AMT, DP.MIN_CRAW_AMT
		FROM ACRM_F_PD_DEPOSIT_PROD_INFO DP
		LEFT JOIN ACRM_F_PD_PROD_CATL PC ON SUBSTR(DP.PROD_CODE,0,7) = PC.CATL_CODE
        <where>
            <if test="prodId != null and prodId != '' ">AND DP.SRC_PROD_CODE = #{prodId,jdbcType=VARCHAR}</if>
            <if test="prodCode != null and prodCode != ''">AND DP.PROD_CODE = #{prodCode,jdbcType=VARCHAR}</if>
        </where>
        ORDER BY DP.PROD_CODE
    </select>

	<!-- 产品净值 -->
    <select id="productNetValueInfoQuery" parameterType="cn.com.yusys.yusp.commons.mapper.QueryModel" resultType="java.util.Map">
		SELECT NV.DATA_DATE, NV.UNIT_NET_VALUE FROM ACRM_F_PD_FIN_PROD_NET_VALUE_INFO NV
        WHERE NV.PROD_CODE = #{condition.prodCode,jdbcType=VARCHAR}
          and NV.SRC_PROD_CODE = #{condition.srcProdCode,jdbcType=VARCHAR}
          <if test="condition.range == null or condition.range == ''">
          	AND DATA_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -1),'yyyy-MM-dd') AND TO_CHAR(SYSDATE,'yyyy-MM-dd')
          </if>
          <if test="condition.range != null and condition.range != '' and condition.range == '1'.toString()">
          	AND DATA_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -1),'yyyy-MM-dd') AND TO_CHAR(SYSDATE,'yyyy-MM-dd')
          </if>
          <if test="condition.range != null and condition.range != '' and condition.range == '3'.toString()">
          	AND DATA_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -3),'yyyy-MM-dd') AND TO_CHAR(SYSDATE,'yyyy-MM-dd')
		  </if>
          <if test="condition.range != null and condition.range != '' and condition.range == '12'.toString()">
          	AND DATA_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -12),'yyyy-MM-dd') AND TO_CHAR(SYSDATE,'yyyy-MM-dd')
		  </if>
          <if test="condition.range != null and condition.range != '' and condition.range == '36'.toString()">
          	AND DATA_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE, -36),'yyyy-MM-dd') AND TO_CHAR(SYSDATE,'yyyy-MM-dd')
		  </if>
		ORDER BY NV.DATA_DATE
    </select>        <!-- 客户收益 -->
    <select id="productCustFitInfoQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			CF.DATA_DATE, CF.CUST_NO, CF.NDS_CUST_NO, CF.CUST_NAME, CF.SRC_PROD_CODE, CF.TOTAL_PROFIT, CF.TOTAL_PROFIT_RATE,
			CF.TOTAL_INCOME,CF.HOLD_SHARE,CF.CUR_NET_VALUE,CF.DAY_INCOME, CF.DAY_PROFIT, CF.MARKET_VALUE,
		    case when length(AB1.MGR_ID) > 4 then CONCAT(AB1.MGR_NAME, CONCAT('/', AB1.MGR_ID)) else '-' end FINANING_MGR_USER_NAME,
			case when length(AB2.MGR_ID) > 4 then CONCAT(AB2.MGR_NAME, CONCAT('/', AB2.MGR_ID)) else '-' end LOAN_MGR_USER_NAME
		FROM (
		    SELECT ROW_NUMBER() OVER(PARTITION BY CF.CUST_NO ORDER BY CF.DATA_DATE DESC) rn,
				CF.DATA_DATE, CF.CUST_NO, CF.NDS_CUST_NO, CF.CUST_NAME, CF.SRC_PROD_CODE, CF.TOTAL_PROFIT, CF.TOTAL_PROFIT_RATE,
				CF.TOTAL_INCOME,CF.HOLD_SHARE,CF.CUR_NET_VALUE, CF.DAY_INCOME,CF.DAY_PROFIT, CF.MARKET_VALUE
		    FROM ACRM_F_PD_PROD_CUST_FIT_INFO CF
		    WHERE CF.SRC_PROD_CODE = #{condition.srcProdCode,jdbcType=VARCHAR} and CF.HOLD_SHARE > 0) CF
		LEFT JOIN OCRM_F_CI_ADMIT_BELONG AB1 ON CF.CUST_NO = AB1.CUST_ID AND AB1.MGR_TYPE='1'
		LEFT JOIN OCRM_F_CI_ADMIT_BELONG AB2 ON CF.CUST_NO = AB2.CUST_ID AND AB2.MGR_TYPE='2'
		WHERE CF.rn = 1
			<if test="dataAuth != null and dataAuth != ''">
		  		and CF.CUST_NO in (
		  		    select S.CUST_ID from OCRM_F_CI_ADMIT_BELONG S
					<where>
						<if test="dataAuth != null and dataAuth != ''">${dataAuth}</if>
					</where>
				)
			</if>
    </select>

	<!-- 新增产品ID校验查询 -->
    <select id="createCheckProdId" parameterType="string" resultType="java.util.Map">
		select count(*) as NUM
		from ACRM_F_PD_PROD_INFO t
		where t.PRODUCT_ID = #{productId}
	</select>

	<!-- 修改产品ID校验查询 -->
    <select id="editCheckProdId" parameterType="string" resultType="java.util.Map">
		select count(*) as NUM
		from ACRM_F_PD_PROD_INFO t
		where t.PRODUCT_ID = #{productId} and t.PRODUCT_ID !=#{proId}
	</select>
</mapper>