<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.product.repository.mapper.OcrmFpdCustFitProdMapper">
    <!-- 目标客户查询 -->
	<select id="targetCustomersQuery" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT A.DATA_DATE, A.LAST_CHG_SYS, A.LAST_CHG_USR, A.LAST_CHG_TM, A.CORP_ORG_CODE, 
		A.PROD_ID, A.PROD_NAME, A.CUST_ID, B.CUST_NAME, B.CERT_TYPE as ident_Type,
		B.CERT_NO AS IDENT_NO, B.SERV_LEV, B.VALUE_LEV, USR.USER_NAME as BELONG_MGR,ORG.ORG_NAME AS BELONG_ORG
		<if test="condition.catlType=='1'.toString()">
			,'1' AS CATL_TYPE 
		</if>
		<if test="condition.catlType=='2'.toString()">
			,'2' AS CATL_TYPE 
		</if>
<!-- 	,B.CUST_TYPE AS CATL_TYPE  -->
 	FROM OCRM_F_PD_CUST_FIT_PROD A 
<!--  	left join ACRM_F_CI_CUST_ALL B on A.cust_id=B.cust_id  -->
		<if test="condition.catlType=='1'.toString()">
			left join ACRM_F_CI_PER_ADMIT_INFO B on A.cust_id=B.cust_id 
		</if>
		<if test="condition.catlType=='2'.toString()">
			left join ACRM_F_CI_ORG_CUST_INFO B on A.cust_id=B.cust_id 
		</if>
		  left join admin_sm_user usr on usr.user_code=B.BELONG_MGR 
          left join admin_sm_org org on org.org_code=B.BELONG_BRCH 
		 WHERE 1=1 
		<!-- 产品编号 -->
		<if test="condition.prodId != null and condition.prodId != ''">
       		AND A.PROD_ID = #{condition.prodId,jdbcType=VARCHAR}
	    </if>
	    <!-- 客户类型 -->
<!-- 		<if test="condition.catlType != null and condition.catlType != ''"> -->
<!--        		AND B.CUST_TYPE = #{condition.catlType,jdbcType=VARCHAR} -->
<!-- 	    </if> -->
	    <!-- 客户号 -->
		<if test="condition.custId != null and condition.custId != ''">
       		AND A.CUST_ID = #{condition.custId,jdbcType=VARCHAR}
	    </if>
	    <!-- 客户名称 -->
		<if test="condition.custName != null and condition.custName != ''">
       		AND B.CUST_NAME = #{condition.custName,jdbcType=VARCHAR}
	    </if>
	    <!-- 证件类型 -->
		<if test="condition.identType != null and condition.identType != ''">
       		AND B.CERT_TYPE = #{condition.identType,jdbcType=VARCHAR}
	    </if>
	    <!-- 证件号码 -->
		<if test="condition.identNo != null and condition.identNo != ''">
       		AND B.CERT_NO = #{condition.identNo,jdbcType=VARCHAR}
	    </if>
	    <!-- 价值等级 -->
		<if test="condition.valueLev != null and condition.valueLev != ''">
       		AND B.VALUE_LEV = #{condition.valueLev,jdbcType=VARCHAR}
	    </if>
	    <!-- 服务等级 -->
		<if test="condition.servLev != null and condition.servLev != ''">
       		AND B.SERV_LEV = #{condition.servLev,jdbcType=VARCHAR}
	    </if>
	    
	</select>
	
	<select id="queryProd" parameterType="java.util.Map" resultType="java.util.Map">
		 select P.PROD_ID,P.PROD_NAME from OCRM_F_PD_CUST_FIT_PROD P where P.CUST_ID=#{condition.custId,jdbcType=VARCHAR} 
	</select>
</mapper>