<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.cm.sysKeyWord.repository.mapper.CmFRcMarketPositionMapper">
	<select id="setPositionList" parameterType="String" resultType="java.util.HashMap">
		SELECT * FROM CM_F_RC_MARKET_POSITION WHERE CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
	</select>
	
</mapper>