<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.cm.processparam.repository.mapper.CmFRcNodeInputMapper">
	<!-- 查询节点下参数 -->
	<select id="getList" parameterType="String" resultType="java.util.HashMap">
		SELECT T.NODE_ID,R.FORM_IN_VAL,Y.FORM_OPERATION_VAL,G.FORM_OUT_VAL 
       	FROM CIMP_CM_NODES_DISPLAY T
        LEFT JOIN CIMP_CM_NODES_DISPLAY_INPUT R ON T.FORM_ID = R.FORM_ID
        LEFT JOIN CIMP_CM_NODES_PRESENTATION Y ON T.FORM_ID = Y.FORM_ID
        LEFT JOIN CIMP_CM_NODES_DISPLAY_OUTPUT G ON T.FORM_ID = G.FORM_ID
        WHERE T.NODE_ID = #{nodeId}
    </select>
    <!-- 插入流程节点表数据 -->
    <insert id="addNodes" parameterType="cn.com.yusys.yusp.cm.processparam.domain.CmFRcNodeInputInfo">
    	INSERT INTO cimp_cm_nodes_display(FORM_ID,NODE_ID) VALUES(#{formId},#{nodeId})
    </insert>
    <!-- 删除该节点下已有的数据 -->
    <delete id="delSameNodeData" parameterType="String">
		DELETE FROM CIMP_CM_NODES_DISPLAY_INPUT
        WHERE EXISTS(SELECT 1 FROM CIMP_CM_NODES_DISPLAY 
        WHERE CIMP_CM_NODES_DISPLAY_INPUT.FORM_ID = CIMP_CM_NODES_DISPLAY.FORM_ID
        AND CIMP_CM_NODES_DISPLAY.NODE_ID = #{nodeId, jdbcType=VARCHAR})
    </delete>
    <!-- 删除该节点数据 -->
    <delete id="delSameNode" parameterType="String">
    	DELETE FROM CIMP_CM_NODES_DISPLAY WHERE NODE_ID = #{nodeId, jdbcType=VARCHAR}
    </delete>
    <select id="checkBe" parameterType="String" resultType="int">
    select count(*) FROM CIMP_CM_NODES_DISPLAY where NODE_ID = #{nodeId, jdbcType=VARCHAR}
    </select>
    <select id="checknodeid" parameterType="cn.com.yusys.yusp.commons.mapper.QueryModel" resultType="cn.com.yusys.yusp.cm.processparam.domain.CmFRcNodeInputInfo">
    select i.FORM_IN_VAL FROM CIMP_CM_NODES_DISPLAY_INPUT i where FORM_ID =(select d.form_id from CIMP_CM_NODES_DISPLAY d where node_id = #{condition.nodeId, jdbcType=VARCHAR}) 
    </select>
    <!-- 获取自增序列 -->
	<select id="getSeq" resultType="String">
		SELECT ysc_sequence.nextval FROM dual
	</select>
	<update id="upd" parameterType="cn.com.yusys.yusp.cm.processparam.domain.CmFRcNodeInputInfo">
	UPDATE CIMP_CM_NODES_DISPLAY_INPUT i SET 
	i.FORM_IN_VAL = #{formInVal,jdbcType=VARCHAR}
	 WHERE i.FORM_ID = (SELECT FORM_ID FROM CIMP_CM_NODES_DISPLAY  WHERE NODE_ID = #{nodeId,jdbcType=VARCHAR})
	</update>
</mapper>