<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.cust.person.repository.mapper.AcrmFciBlackListInfoMapper">
    <sql id="Base_Column_List">
	    DATA_DATE,LAST_CHG_SYS,LAST_CHG_USR,LAST_CHG_DT,CORP_ORG_CODE,CUST_ID,CUST_TYPE,ACCT_ID,BLACK_TYPE,BLACK_DESC,ISSUE_INST,ENTR_DATE,REMV_DATE,INPUT_ID,INPUT_DATE
    </sql>
    
    <!-- 黑名单信息查询 -->
	<select id="querylist" parameterType="java.util.Map" resultType="java.util.Map">
		select t.ID,
			   to_char(t.DATA_DATE,'yyyy-mm-dd') as DATA_DATE,
		       t.LAST_CHG_SYS,
		       t.LAST_CHG_USR,
		       to_char(t.LAST_CHG_DT,'yyyy-mm-dd') as LAST_CHG_DT,
		       t.CORP_ORG_CODE,
		       t.CUST_ID,
		       t.CUST_TYPE,
		       t.ACCT_ID,
		       t.BLACK_TYPE,
		       t.BLACK_DESC,
		       t.ISSUE_INST,
		       to_char(t.ENTR_DATE,'yyyy-mm-dd') as ENTR_DATE,
		       to_char(t.REMV_DATE,'yyyy-mm-dd') as REMV_DATE,
		       t.INPUT_ID,
		       to_char(t.INPUT_DATE,'yyyy-mm-dd') as INPUT_DATE,
		       org.org_name,
		       cust.user_name
		  from ACRM_F_CI_BLACK_LIST_INFO t
		  left join admin_sm_org org
	      on org.org_id = t.ISSUE_INST
	      left join admin_sm_user cust
	      on cust.login_code = t.INPUT_ID
		  where 1=1
		  
		  <if  test="custId != null and custId != ''">
	       		and t.CUST_ID =#{custId,jdbcType=VARCHAR} 
		  </if>
	</select>
	
	<!-- 根据客户编号删除产品信息
	<delete id="deleteById" parameterType="String">
		DELETE FROM ACRM_F_CI_BLACK_LIST_INFO A WHERE A.CUST_ID = #{condition.strId,jdbcType=VARCHAR}
	</delete> -->
</mapper>