<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.cust.person.repository.mapper.AcrmFagGkSaveMapper">
    <sql id="Base_Column_List">
	    CORP_ORG_CODE,DATA_DATE,CUST_ID,DEPOSIT_TYPE,CCY_CD,DAY_BAL,MONTH_AVG_BAL,QUARTER_AVG_BAL,HALF_YEAR_AVG_BAL,YEAR_AVG_BAL,LY_DAY_BAL,LY_MONTH_AVG_BAL,LY_QUARTER_AVG_BAL,LY_HALF_YEAR_AVG_BAL,LY_YEAR_AVG_BAL,ID
    </sql>
    
    <select id="queryDepositByCustId" parameterType="java.util.Map"  resultType="java.util.HashMap">
		  select t.CORP_ORG_CODE,
		   	   to_char(to_date(t.DATA_DATE,'yyyy-mm-dd'),'yyyy-mm-dd') as DATA_DATE,
		       t.CUST_ID,
		       t.DEPOSIT_TYPE,
		       t.CCY_CD,
		       t.DAY_BAL,
		       t.MONTH_AVG_BAL,
		       t.QUARTER_AVG_BAL,
		       t.HALF_YEAR_AVG_BAL,
		       t.YEAR_AVG_BAL,
		       t.LY_DAY_BAL,
		       t.LY_MONTH_AVG_BAL,
		       t.LY_QUARTER_AVG_BAL,
		       t.LY_HALF_YEAR_AVG_BAL,
		       t.LY_YEAR_AVG_BAL
		  from ACRM_F_AG_GK_SAVE t
		  where 1=1
		  <if  test="custId != null and custId != ''">
	       		and t.CUST_ID =#{custId,jdbcType=VARCHAR} 
		  </if>
	</select>
	
</mapper>