<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.cust.person.repository.mapper.OcrmFmkActivityMapper">
    <sql id="Base_Column_List">
	    ACTI_ID,PARENT_ACTI_ID,ACTI_NAME,ACTI_TYPE,ACTI_MODE,ACTI_STAT,MKT_APP_STATE,ACTI_AIM,ACTI_CONT,PSTART_DATE,PEND_DATE,MKT_CHANEL,ACTI_ADDR,ACTI_COST,ACTI_CUST_DESC,ACTI_OPER_DESC,ACTI_PROD_DESC,ASTART_DATE,AEND_DATE,MKT_RESP_PERSON,MKT_RESP_PERSON_ORG,CPRT_THREE_PART,PRACTICE_COST,SPECIFIC_COST_DISTR,ACTI_REMARK,CREATE_USER,CREATE_DATE,CREATE_ORG,LAST_UPDATE_USER,LAST_UPDATE_TM,LAST_UPDATE_ORG,CONTACT_CUST
    </sql>
    
    <select id="querylist" parameterType="java.util.Map"  resultType="java.util.HashMap">
		    select t.ACTI_ID,
			       t.PARENT_ACTI_ID,
			       t.ACTI_NAME,
			       t.ACTI_TYPE,
			       t.ACTI_MODE,
			       t.ACTI_STAT,
			       t.MKT_APP_STATE,
			       t.ACTI_AIM,
			       t.ACTI_CONT,
			       to_char(t.PSTART_DATE, 'yyyy-mm-dd') as PSTART_DATE,
			       to_char(t.PEND_DATE, 'yyyy-mm-dd') as PEND_DATE,
			       t.MKT_CHANEL,
			       t.ACTI_ADDR,
			       t.ACTI_COST,
			       t.ACTI_CUST_DESC,
			       t.ACTI_OPER_DESC,
			       t.ACTI_PROD_DESC,
			       to_char(t.ASTART_DATE, 'yyyy-mm-dd') as ASTART_DATE,
			       to_char(t.AEND_DATE, 'yyyy-mm-dd') as AEND_DATE,
			       t.MKT_RESP_PERSON,
			       t.MKT_RESP_PERSON_ORG,
			       t.CPRT_THREE_PART,
			       t.PRACTICE_COST,
			       t.SPECIFIC_COST_DISTR,
			       t.ACTI_REMARK,
			       t.CREATE_USER,
			       to_char(t.CREATE_DATE, 'yyyy-mm-dd') as CREATE_DATE,
			       t.CREATE_ORG,
			       t.LAST_UPDATE_USER,
			       to_char(t.LAST_UPDATE_TM, 'yyyy-mm-dd') as LAST_UPDATE_TM,
			       t.LAST_UPDATE_ORG,
			       t.CONTACT_CUST,
			       cust.user_name,
			       org.org_name
			  from OCRM_F_MK_ACTIVITY t
			  left join admin_sm_user cust
			    on cust.LOGIN_CODE = t.mkt_resp_person
			  left join admin_sm_org org
			    on org.ORG_ID = cust.ORG_ID
			 where 1 = 1
<!-- 
		  <if  test="condition.custId != null and condition.custId != ''">
       			and  t.CUST_ID =#{condition.custId,jdbcType=VARCHAR} 
	  	  </if>
	  	   -->
	  	  <if  test="condition.activityName != null and condition.activityName != ''">
       			and  t.ACTI_NAME like CONCAT(CONCAT('%', #{condition.activityName,jdbcType=VARCHAR}),'%')   
		  </if>
	  	  <if  test="condition.startTM != null and condition.startTM != ''">
       			and  to_char(t.ASTART_DATE,'yyyy-mm-dd') = #{condition.startTM,jdbcType=VARCHAR} 
		  </if>
		  <if  test="condition.endTM != null and condition.endTM != ''">
	       		and  to_char(t.AEND_DATE,'yyyy-mm-dd') = #{condition.endTM,jdbcType=VARCHAR} 
		  </if>
		  
	</select>
</mapper>