<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.cm.market.repository.mapper.CimpCmMarketPositCtMapper">
	<resultMap id="BaseResultMap" type="cn.com.yusys.yusp.cm.market.domain.CimpCmMarketPositCt">
		<id column="CONTENT_ID" jdbcType="VARCHAR" property="contentId" />
		<result column="ACTIVITY_ID" jdbcType="VARCHAR" property="activityId" />
		<result column="ASSAMLY_ID" jdbcType="VARCHAR" property="assamlyId" />
		<result column="CHANNEL_NODE_ID" jdbcType="VARCHAR" property="channelNodeId" />
		<result column="CT_NODE_ID" jdbcType="VARCHAR" property="ctNodeId" />
		<result column="MKT_POSIT_CODE" jdbcType="VARCHAR" property="mktPositCode" />
		<result column="VS_START_DATE" jdbcType="TIMESTAMP" property="vsStartDate" />
		<result column="VS_END_DATE" jdbcType="TIMESTAMP" property="vsEndDate" />
		<result column="LAST_CHG_USR" jdbcType="VARCHAR" property="lastChgUsr" />
		<result column="LAST_CHG_ORG" jdbcType="VARCHAR" property="lastChgOrg" />
		<result column="LAST_CHG_DT" jdbcType="TIMESTAMP" property="lastChgDt" />
		<result column="CRAT_USR" jdbcType="VARCHAR" property="cratUsr" />
		<result column="CRAT_ORG" jdbcType="VARCHAR" property="cratOrg" />
		<result column="CRAT_DT" jdbcType="TIMESTAMP" property="cratDt" />
	</resultMap>
	<sql id="Base_Column_List">
		CONTENT_ID,ACTIVITY_ID,ASSAMLY_ID,CHANNEL_NODE_ID,CT_NODE_ID,MKT_POSIT_CODE,VS_START_DATE,VS_END_DATE,LAST_CHG_USR,LAST_CHG_ORG,LAST_CHG_DT,CRAT_USR,CRAT_ORG,CRAT_DT
	</sql>

	<select id="getMarketPositCtByActId" resultType="cn.com.yusys.yusp.cm.market.domain.CimpCmMarketPositCt">
		select t.* from CIMP_CM_MARKET_POSIT_CT t WHERE t.market_type_id is not null and t.activity_id = #{actId}
	</select>

</mapper>