<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.cm.market.repository.mapper.YscimcFMkActiShareImgMapper">

    <select id="getListByShareId" resultType="cn.com.yusys.yusp.cm.market.domain.YscimcFMkActiShareImg">
        select * from YSCIMC_F_MK_ACTI_SHARE_IMG where share_id = #{id}
    </select>

    <delete id="deleteByShareId">
        delete from YSCIMC_F_MK_ACTI_SHARE_IMG where share_id = #{id}
    </delete>
</mapper>