<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.cm.market.repository.mapper.YscimcFMkActiFissionImgMapper">

    <select id="getListByFissionId" resultType="cn.com.yusys.yusp.cm.market.domain.YscimcFMkActiFissionImg">
        select * from YSCIMC_F_MK_ACTI_FISSION_IMG where fission_id = #{id}
    </select>

    <delete id="deleteByFissionId">
        delete from YSCIMC_F_MK_ACTI_FISSION_IMG where fission_id = #{id}
    </delete>
</mapper>