<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.cm.ruleConfig.repository.mapper.CmFRcRuleConComparisonMapper">
	<!-- 查询规则比较 -->
	<select id="getConComByEventId" parameterType="String"
		resultType="cn.com.yusys.yusp.cm.ruleConfig.domain.CmFRcRuleConComparison">
		select T.* from cm_f_rc_rule_con_comparison T
		where T.EVENT_ID = #{eventId, jdbcType=VARCHAR}
	</select>
</mapper>