<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.admin.repository.mapper.AdminSmDptMapper">
	<!-- 修改部门状态 -->
	<update id="updateSts" >
		update admin_sm_dpt set DPT_STS=#{dptSts,jdbcType=VARCHAR} 
				,LAST_CHG_USR=#{lastChgUsr, jdbcType=VARCHAR},
		 		LAST_CHG_DT=#{lastChgDt, jdbcType=VARCHAR} 
		where DPT_ID=#{dptId,jdbcType=VARCHAR}
	</update>
	
	<!-- 检出部门编号是否重复-->
	<select id="checkDptCode" parameterType="String" resultType="integer">
		SELECT count(t.dpt_cde) from admin_sm_dpt t where t.dpt_cde = #{dptCde}
	</select>
	
	<!-- 检查部门下是否存在用户-->
	<select id="checkHasUser" parameterType="String" resultType="integer">
		SELECT count(t.user_id) from admin_sm_user t where t.dpt_id = #{depId}
	</select>

    <!-- 检查部门下是否存在下级部门-->
    <select id="checkHasNode" parameterType="String" resultType="integer">
        SELECT count(*) from ADMIN_SM_DPT D where D.UP_DPT_ID = #{depId}
    </select>
</mapper>