<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscimc.assemble.repository.mapper.CmicAppAsseSignImgMapper">

    <select id="selectListById" resultType="cn.com.yusys.yscimc.assemble.domain.CmicAppAsseSignImgEntity">
        select * from CMIC_APP_ASSE_SIGN_IMG where sign_up_id = #{id}
    </select>
</mapper>