<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.custmgr.repository.mapper.AcrmAcmBusiSumDMapper">
    <select id="queryInfo" resultType="java.util.Map">
    	SELECT * FROM ACRM_A_CM_BUSI_SUM T 
		<where>
			AND T.TARGET_TYPE = '1' 
			<if  test="mgrId != null and mgrId != ''">
	       		AND T.TARGET_ID = #{mgrId,jdbcType=VARCHAR}
		    </if>
		    	AND DATA_DATE = (select Max(data_date) from ACRM_A_CM_BUSI_SUM 
		    	where TARGET_TYPE = '1' AND TARGET_ID =#{mgrId,jdbcType=VARCHAR})
		</where>
	</select>
</mapper>