<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.custpub.repository.mapper.OcrmFciNetworkRelaMemberMapper">
    <delete id="delByNetId" parameterType="String">
    delete from OCRM_F_CI_NETWORK_RELA_MEMBER where NETWORK_RELA_ID = #{netId,jdbcType=VARCHAR}
    </delete>
        <!--查询关系图中的节点信息  -->
    <select id="getRelaMemberByNetId" parameterType="java.lang.String"  resultType="java.util.HashMap">
	 	SELECT * FROM OCRM_F_CI_NETWORK_RELA_MEMBER  WHERE NETWORK_RELA_ID = #{netId, jdbcType=VARCHAR}
	</select>
</mapper>