<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.mktactivity.repository.mapper.OcrmFMkActiAttachRelMapper">
	<!-- 自增序列 -->
	<select id="getSeq" resultType="BigDecimal">
		SELECT mkt_seq.nextval FROM dual
	</select>
	<!-- 删除上次关联的附件 -->
	<delete id="lastFileDel" parameterType="BigDecimal">
		DELETE FROM OCRM_F_MK_ACTI_ATTACH_REL WHERE ACTI_ID = #{actiId,jdbcType=DECIMAL}
	</delete>
</mapper>