<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.sysview.repository.mapper.OcrmFsysViewManagerMapper">
    <resultMap id="BaseResultMap" type="cn.com.yusys.yscrm.sysview.domain.OcrmFsysViewManager">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="VIEW_ITEM_ID" jdbcType="VARCHAR" property="viewItemId" />
		<result column="VIEW_ITEM_NAME" jdbcType="VARCHAR" property="viewItemName" />
		<result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
		<result column="VIEW_ID" jdbcType="VARCHAR" property="viewId" />
		<result column="LAST_CHG_USR" jdbcType="VARCHAR" property="lastChgUsr" />
		<result column="LAST_CHG_ORG" jdbcType="VARCHAR" property="lastChgOrg" />
		<result column="LAST_CHG_DT" jdbcType="DATE" property="lastChgDt" />
		<result column="NOTES" jdbcType="VARCHAR" property="notes" />
		<result column="ORDERS" jdbcType="NUMERIC" property="orders" />
    </resultMap>
    <sql id="Base_Column_List">
	    ID,VIEW_ITEM_ID,VIEW_ITEM_NAME,PARENT_ID,VIEW_ID,LAST_CHG_USR,LAST_CHG_ORG,LAST_CHG_DT,NOTES,ORDERS
    </sql>
    
    <select id="getSysViewTree" parameterType="String" resultType="java.util.HashMap" >
		select M.* from OCRM_F_SYS_VIEW_MANAGER M WHERE M.SYS_ID = #{sysId}
		ORDER BY M.ORDERS
	</select>
	
	<!--查询视图项列表 -->
	<select id="getListInfo" parameterType="cn.com.yusys.yusp.commons.mapper.QueryModel" resultType="java.util.Map">
	     select m.view_name,f.*
	     from OCRM_F_SYS_VIEW m,OCRM_F_SYS_VIEW_ITEM f
	     where m.view_id = f.view_id
	     <if test= "condition.queryKey!= null and condition.queryKey != ''">
	    	 and ( m.view_name like #{condition.queryKey, jdbcType=VARCHAR}
	    	 		or (f.view_item_name like #{condition.queryKey, jdbcType=VARCHAR} 
	    	 			or f.view_addr like #{condition.queryKey, jdbcType=VARCHAR} )
	    	      )
	     </if>
		 order by m.view_name,f.orders ASC
	</select>
	
	<select id="getViewInfo" parameterType="cn.com.yusys.yusp.commons.mapper.QueryModel"
		resultType="java.util.Map">
		SELECT M.*,F.VIEW_ITEM_NAME,
		(SELECT M1.NAME FROM OCRM_F_SYS_VIEW_MANAGER M1 WHERE M1.ID = M.PARENT_ID) AS PARENT_NAME
  		FROM OCRM_F_SYS_VIEW_MANAGER M
 	    LEFT JOIN OCRM_F_SYS_VIEW_ITEM F ON (M.VIEW_ITEM_ID = F.ID)
        WHERE M.ID=#{id}
	</select>
	
	<!-- 删除时查询是否有一级、二级...n级子节点菜单，获取选中菜单及相应的子节点菜单id -->
    <select id="getDeleteMenuId" parameterType="String" resultType="String">
        WITH MENU(ID,PARENT_ID) AS
         (SELECT ID, PARENT_ID FROM OCRM_F_SYS_VIEW_MANAGER WHERE ID = #{id}
          UNION ALL
          SELECT B.ID, B.PARENT_ID FROM MENU A, OCRM_F_SYS_VIEW_MANAGER B WHERE B.PARENT_ID = A.ID)
        SELECT ID FROM MENU
    </select>
</mapper>