<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.admin.repository.mapper.UaaMenuContrDataInfoMapper">

	<select id="selectMenuTree" parameterType="String" resultType="cn.com.yusys.yusp.uaa.domain.UaaMenuContrDataConfig">
		SELECT DISTINCT T_MENU.MENU_ID,T_MENU.MENU_NAME,T_MENU.UP_MENU_ID,T_MENU.MENU_ORDER,T_MENU.MENU_ICON,T_MENU.FUNC_ID,
		       T_FUNC.FUNC_URL,T_FUNC.FUNC_URL_JS,T_FUNC.FUNC_URL_CSS,T_MENU.SYS_ID FROM
		  ADMIN_SM_AUTH_RECO T_RECO
		  JOIN (
		      SELECT T_USER.USER_ID USER_ID,
		        T_USER.ORG_ID ORG_ID,T_USER.DPT_ID DPT_ID,T_ROELREL.ROLE_ID ROLE_ID FROM
		       ADMIN_SM_USER T_USER LEFT JOIN
		       ADMIN_SM_USER_ROLE_REL T_ROELREL ON (T_USER.USER_ID=T_ROELREL.USER_ID)
		    <where>
	            <if test="loginCode != null">
	                and T_USER.LOGIN_CODE=#{loginCode}
	            </if>
            </where>
		  ) T_AUTHOBJ
		  ON(
		         (T_RECO.AUTHOBJ_TYPE='U' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.USER_ID) OR

				<choose>
					<when test="roleId != null">
						(T_RECO.AUTHOBJ_TYPE='R' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.ROLE_ID and T_RECO.AUTHOBJ_ID = #{roleId}) OR
					</when>
					<otherwise>
						(T_RECO.AUTHOBJ_TYPE='R' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.ROLE_ID and ) OR
					</otherwise>
				</choose>
		         (T_RECO.AUTHOBJ_TYPE='G' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.ORG_ID)  OR
		         (T_RECO.AUTHOBJ_TYPE='D' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.DPT_ID)
		   )
		   JOIN ADMIN_SM_MENU T_MENU ON(T_RECO.AUTHRES_TYPE ='M' AND T_RECO.AUTHRES_ID=T_MENU.MENU_ID)
		   LEFT JOIN ADMIN_SM_BUSI_FUNC T_FUNC ON(T_MENU.FUNC_ID = T_FUNC.FUNC_ID)
        <where>
            <if test="sysId != null">
            AND T_MENU.SYS_ID=#{sysId}
            </if>
        </where>
		   ORDER BY T_MENU.UP_MENU_ID,T_MENU.MENU_ORDER ASC
	</select>
    <!--java.util.Map-->
    <select id="selectContrList" parameterType="String" resultType="cn.com.yusys.yusp.uaa.domain.UaaMenuContrDataConfig">
			  SELECT DISTINCT T_RESCTRL.FUNC_ID,T_RESCTRL.CONTR_CODE,T_RESCTRL.CONTR_NAME,T_RESCTRL.CONTR_URL,T_RESCTRL.METHOD_TYPE,T_RECO.SYS_ID FROM
		      ADMIN_SM_AUTH_RECO T_RECO
		      JOIN (
		          SELECT T_USER.USER_ID USER_ID,
		            T_USER.ORG_ID ORG_ID,T_USER.DPT_ID DPT_ID,T_ROELREL.ROLE_ID ROLE_ID FROM
		           ADMIN_SM_USER T_USER LEFT JOIN
		           ADMIN_SM_USER_ROLE_REL T_ROELREL ON (T_USER.USER_ID=T_ROELREL.USER_ID)
	           <where>
	                <if test="loginCode != null">
	                    and T_USER.LOGIN_CODE=#{loginCode}
	                </if>
                </where>
		             ) T_AUTHOBJ
		      ON(
		             (T_RECO.AUTHOBJ_TYPE='U' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.USER_ID) OR
					<choose>
						<when test="roleId != null">
							(T_RECO.AUTHOBJ_TYPE='R' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.ROLE_ID and T_RECO.AUTHOBJ_ID = #{roleId}) OR
						</when>
						<otherwise>
							(T_RECO.AUTHOBJ_TYPE='R' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.ROLE_ID and ) OR
						</otherwise>
					</choose>
		             (T_RECO.AUTHOBJ_TYPE='G' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.ORG_ID)  OR
		             (T_RECO.AUTHOBJ_TYPE='D' AND T_RECO.AUTHOBJ_ID = T_AUTHOBJ.DPT_ID)
		       )
		       JOIN ADMIN_SM_RES_CONTR T_RESCTRL ON(T_RECO.AUTHRES_TYPE ='C' AND T_RECO.AUTHRES_ID=T_RESCTRL.CONTR_ID)
                <where>
                    <if test="sysId != null">
                        AND T_RECO.SYS_ID=#{sysId}
                    </if>
                </where>
     </select>
</mapper>
