<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.uimp.base.app.uaa.repository.mapper.PmaFappPasswordMapper">
    <resultMap id="BaseResultMap" type="cn.com.yusys.yusp.uimp.base.app.uaa.domain.PmaFappPassword">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="PATTERN_LOCK" jdbcType="VARCHAR" property="patternLock" />
		<result column="FINGER_LOCK" jdbcType="VARCHAR" property="fingerLock" />
		<result column="FACE_LOCK" jdbcType="VARCHAR" property="faceLock" />
		<result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
	    ID,USER_ID,PASSWORD,PATTERN_LOCK,FINGER_LOCK,FACE_LOCK,CREATE_TIME,UPDATE_TIME
    </sql>
    
    <!-- 根据 用户编号、登录密码、手势密码查询符合条件数据条数 -->
    <select id="selectByParams" parameterType="java.lang.String" resultType="int">
    	select count(*) from PMA_F_APP_PASSWORD
    	<where>
    	  <if test="userId != null and userId != ''">
    	    and USER_ID = #{userId,jdbcType=VARCHAR}
    	  </if>
    	  <if test="password != null and password != ''">
    	    and PASSWORD = #{password,jdbcType=VARCHAR}
    	  </if>
    	  <if test="patternLock != null and patternLock != ''">
    	    and PATTERN_LOCK = #{patternLock,jdbcType=VARCHAR}
    	  </if>
    	  <if test="fingerLock != null and fingerLock != ''">
    	    and FINGER_LOCK = #{fingerLock,jdbcType=VARCHAR}
    	  </if>
    	  <if test="faceLock != null and faceLock != ''">
    	    and FACE_LOCK = #{faceLock,jdbcType=VARCHAR}
    	  </if>
    	</where>
    </select>
    
   	<!-- 删除对应用户对应APP登录密码数据 -->
    <delete id="deleteByUserId" parameterType="String">
		 DELETE FROM PMA_F_APP_PASSWORD WHERE USER_ID = #{userId,jdbcType=VARCHAR}
	</delete>
	
 	<!-- APP用户密码修改接口 -->
    <update id="updatePassword" parameterType="String">
		 update PMA_F_APP_PASSWORD
			 <trim prefix="SET" suffixOverrides=",">
			 	<if test="password != null and password != ''">
			 		PASSWORD = #{password,jdbcType=VARCHAR},
			 	</if>
			 	<if test="patternLock != null and patternLock != ''">
			 		PATTERN_LOCK = #{patternLock,jdbcType=VARCHAR},
			 	</if>
			 </trim> 
		 WHERE USER_ID = #{userId,jdbcType=VARCHAR}
	</update>
	
	<!-- 根据 用户编号 查询手势密码 -->
    <select id="queryPatternLock" parameterType="java.lang.String" resultType="java.util.Map">
    	select USER_ID, PATTERN_LOCK from PMA_F_APP_PASSWORD where USER_ID = #{userId,jdbcType=VARCHAR}
    </select>
</mapper>