<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="logPath" source="logback.path"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="springAppNameError" source="spring.application.nameErr"/>
    <springProperty scope="context" name="buildFolder" source="spring.application.buildFolder"/>


    <springProperty scope="context" name="serverPort" source="server.port"/>
    <springProperty scope="context" name="logbackLoglevel" source="logback.loglevel"/>
    <!-- 日志在工程中的输出位置 -->
    <property name="LOG_FILE" value="${buildFolder}/${springAppName}"/>
    <property name="ERROR_FILE" value="${buildFolder}/${springAppNameError}"/>

    <!-- 控制台的日志输出样式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%-5p %d{yyy-MM-dd HH:mm:ss.SSS} [%t] %c.%M:%L - %m%n"/>

    <!-- 控制台Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>${logbackLoglevel}</level>-->

<!--        </filter>-->

        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>

    </appender>

    <!-- 日备份文件 -->
    <appender name="DAY"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>  <!-- 支持多JVM同时操作同一个日志文件 -->  
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
             <FileNamePattern>${logPath}/%d{yyyy-MM-dd}/${springAppName}_${serverPort}_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
             <maxHistory>30</maxHistory>
             <!-- 按时间回滚的同时，按文件大小来回滚 -->  
             <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                      <maxFileSize>100MB</maxFileSize>  
             </timeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>
    </appender>
    
    <!-- 每天记录文件 -->
    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}%i.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    

    <appender name="FILTERERS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${ERROR_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_FILE}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 日志文件的格式 -->

        <!-- 此日志文件只记录error级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="io.github.jhipster" level="${logbackLoglevel}"/>
    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="${logbackLoglevel}"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.netflix" level="${logbackLoglevel}"/>
    <logger name="com.netflix.discovery" level="${logbackLoglevel}"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.springframework" level="${logbackLoglevel}"/>
    <logger name="org.springframework.boot" level="${logbackLoglevel}"/>
    <logger name="org.springframework.web" level="${logbackLoglevel}"/>
    <logger name="org.springframework.security" level="${logbackLoglevel}"/>
    <logger name="org.springframework.cache" level="${logbackLoglevel}"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="sun.net.www" level="DEBUG"/>
    <logger name="sun.rmi.transport" level="WARN"/>
    <logger name="co.elastic.apm.shaded.stagemonitor.configuration.source.PropertyFileConfigurationSource" level="OFF"/>
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="OFF"/>
    <logger name="*.xml" level="DEBUG" />
    <logger name="cn.com.yusys" level="DEBUG" />

    <root level="${logbackLoglevel}">
        <appender-ref ref="console"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="DAY"/>
        <appender-ref ref="FILTERERS"/>
    </root>
</configuration>