<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.cust.org.repository.mapper.OcrmFciOrgProjectInfoMapper">
    <sql id="Base_Column_List">
	    DATA_DATE,CRAT_DT,CRAT_ORG_ID,CRAT_USR,LAST_CHG_SYS,LAST_CHG_USR,LAST_CHG_DT,CORP_ORG_CODE,CUST_ID,COM_PRO_ID,PROJ_NAME,PROJ_TYPE,REMARKS
    </sql>
    <!-- 项目信息查询 -->
	<select id="querylist" parameterType="java.util.Map" resultType="java.util.Map">
		select t.DATA_DATE,
			   to_char(t.CRAT_DT,'yyyy-mm-dd') as CRAT_DT,
		       t.CRAT_ORG_ID,
		       t.CRAT_USR,
		       t.LAST_CHG_SYS,
		       t.LAST_CHG_USR,
		       t.LAST_CHG_ORG_ID,
		       to_char(t.LAST_CHG_DT,'yyyy-mm-dd') as LAST_CHG_DT,
		       t.CORP_ORG_CODE,
		       t.CUST_ID,
		       t.COM_PRO_ID,
		       t.PROJ_NAME,
		       t.PROJ_TYPE,
		       t.REMARKS,
		       org.org_name,
		       cust.user_name
		  from OCRM_F_CI_ORG_PROJECT_INFO t
		  left join admin_sm_org org
	      on org.org_id = t.LAST_CHG_ORG_ID
	      left join admin_sm_user cust
	      on cust.login_code = t.LAST_CHG_USR
		  where 1=1
		  
		  <if  test="condition.custId != null and condition.custId != ''">
       			and  t.CUST_ID =#{condition.custId,jdbcType=VARCHAR} 
	  	  </if>
	  	  <if test="condition.proId != null and condition.proId !=''">
				and  t.COM_PRO_ID  LIKE CONCAT(CONCAT('%', #{condition.proId, jdbcType=VARCHAR}),'%')
		  </if>
	  	  <if test="condition.proName != null and condition.proName !=''">
				and  t.PROJ_NAME  LIKE CONCAT(CONCAT('%', #{condition.proName, jdbcType=VARCHAR}),'%')
		  </if>
	  	  <if test="condition.proType != null and condition.proType !=''">
				and  t.PROJ_TYPE =#{condition.proType,jdbcType=VARCHAR} 
		  </if>
	</select>
	
	<!-- 根据项目编号删除项目信息 -->
	<delete id="deleteByComProId" parameterType="String">
		DELETE FROM OCRM_F_CI_ORG_PROJECT_INFO A WHERE A.COM_PRO_ID = #{condition.comProId,jdbcType=VARCHAR}
	</delete> 
</mapper>