<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscrm.custgrade.repository.mapper.OcrmFciGradeLevelMapper">
    <sql id="Base_Column_List">
	    CORP_ORG_CODE,LEVEL_ID,SCHEME_ID,STANDARD_ID,GRADE_LEVEL,LEVEL_LOWER,LEVEL_UPPER,LEVEL_CRITICAL
    </sql>
    
</mapper>