<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.uimp.business.pma.menuClick.repository.mapper.AdminSmMenuClickPMapper">
    <resultMap id="BaseResultMap" type="cn.com.yusys.yusp.uimp.business.pma.menuClick.domain.AdminSmMenuClickP">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="DSTR_CLICK_NUM" jdbcType="NUMERIC" property="dstrClickNum" />
		<result column="SEL_CLICK_NUM" jdbcType="NUMERIC" property="selClickNum" />
		<result column="SCHEME_CLICK_NUM" jdbcType="NUMERIC" property="schemeClickNum" />
		<result column="SM_CLICK_NUM" jdbcType="NUMERIC" property="smClickNum" />
		<result column="LOGIN_CODE" jdbcType="VARCHAR" property="loginCode" />
    </resultMap>
    <sql id="Base_Column_List">
	    ID,DSTR_CLICK_NUM,SEL_CLICK_NUM,SCHEME_CLICK_NUM,SM_CLICK_NUM,LOGIN_CODE
    </sql>
    	<select id="listByModel" parameterType="cn.com.yusys.yusp.commons.mapper.QueryModel" resultType="java.util.HashMap">
 			select    A.ID,A.DSTR_CLICK_NUM,A.SEL_CLICK_NUM,A.SCHEME_CLICK_NUM,A.SM_CLICK_NUM,a.LOGIN_CODE,AU.USER_NAME 
 			from admin_sm_menu_click_p a 
 			LEFT JOIN ADMIN_SM_USER AU ON A.LOGIN_CODE = AU.LOGIN_CODE 
 			LEFT JOIN SYS_UNITS SUT ON AU.ORG_ID = SUT.UNITID
		<where>
			<!-- 数据日期 -->
			<if test="condition.orgId != null and condition.orgId  != ''">
	      		AND SUT.UNITSEQ LIKE concat(concat('%',#{condition.orgId,jdbcType=VARCHAR}),'%')
		    </if>
		    			<!-- 数据日期 -->
			<if test="condition.loginCode != null and condition.loginCode  != ''">
	      		AND a.LOGIN_CODE= #{condition.orgId,jdbcType=VARCHAR}
		    </if>
	    </where>
	</select>
</mapper>