<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.uimp.business.pma.scheme.dimension.repository.mapper.PmaFIndexEvlObjInfoMapper">
    <resultMap id="BaseResultMap" type="cn.com.yusys.yusp.uimp.business.pma.scheme.dimension.domain.PmaFIndexEvlObjInfo">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="INDEX_ID" jdbcType="VARCHAR" property="indexId" />
		<result column="evl_obj_type" jdbcType="VARCHAR" property="evlobjTypeId" />
    </resultMap>
    <sql id="Base_Column_List">
	    ID,INDEX_ID,evl_obj_type
    </sql>
    
</mapper>