<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.uimp.business.pma.scheme.schememain.repository.mapper.PmaSystemUtilMapper">

	<!--获取部门信息 -->
	<select id="getDptByParam" parameterType="java.util.Map"
		resultType="java.util.HashMap">
		select t.dpt_cde as ORG_CODE ,t.dpt_name as ORG_NAME,t.up_dpt_id as
		UP_ORG_ID from ADMIN_SM_DPT t  where t.dpt_sts = 'A'
			<if test="orgCode!=null and orgCode!=''">
				and t.BELONG_ORG_ID = #{orgCode}
			</if>
	</select>

	<!--获取机构树 只能查询当前用户机构以下 -->
	<select id="getOrgtreeByParam" parameterType="java.util.Map" resultType="java.util.HashMap" databaseId="oracle">
		SELECT T_ORG.ORG_ID,T_ORG.ORG_NAME, T_ORG.UP_ORG_ID FROM SYS_ORG_VIEW T_ORG
		<where>
			T_ORG.ORG_STS = 'A'
			AND (T_ORG.ORG_SEQ LIKE CONCAT(CONCAT('%,',#{orgCode}),',%') OR T_ORG.ORG_CODE=#{orgCode})
			<if test="orgLevel!=null and orgLevel!='' and orgLevel!=0">
				AND T_ORG.ORG_LEVEL &lt;=#{orgLevel}
			</if>
			<if test="needManage">
				OR (T_ORG.ORG_SEQ LIKE CONCAT(CONCAT('%,',(SELECT ORG_ID FROM ADMIN_SM_USER_MGR_ORG WHERE USER_ID=#{userId})),',%')
				OR T_ORG.ORG_ID IN (SELECT ORG_ID FROM ADMIN_SM_USER_MGR_ORG WHERE USER_ID=#{userId})
			</if>
		</where>
		<if test="needDpt">
			UNION ALL
			SELECT T_DPT.DPT_ID AS ORG_ID,T_DPT.DPT_NAME AS ORG_NAME ,T_DPT.UP_DPT_ID AS UP_ORG_ID FROM ADMIN_SM_DPT T_DPT
			WHERE T_DPT.BELONG_ORG_ID =#{orgCode}
		</if>
		<if test="needFin">
			UNION ALL
			SELECT T_FIN.INSTU_ID AS ORG_ID,T_FIN.INSTU_NAME AS ORG_NAME,' ' AS UP_ORG_ID FROM ADMIN_SM_INSTU T_FIN
			WHERE T_FIN.INSTU_ID=(SELECT INSTU_ID FROM ADMIN_SM_ORG WHERE ORG_CODE=#{orgCode})
		</if>
		<if test="needTeam">
			UNION ALL
			SELECT T_TEAM.TEAM_CODE AS ORG_ID,T_TEAM.TEAM_NAME AS ORG_NAME ,T_TEAM.TEAM_BELONG_ORG AS UP_ORG_ID FROM admin_sm_team T_TEAM
			WHERE T_TEAM.BELONG_ORG_ID =#{orgCode}
		</if>
	</select>

	<!--获取机构信息 只能查询当前用户机构以下 -->
	<select id="getOrgByParam" parameterType="java.util.Map"
			resultType="java.util.HashMap" databaseId="oracle">
		SELECT T.* FROM SYS_ORG_VIEW T
		WHERE
		T.ORG_STS = 'A'
		<if test="orgId!=null and orgId!=''">
			AND (T.ORG_SEQ LIKE CONCAT(CONCAT('%,',#{orgId}),',%'))
		</if>
		<if test="needManage">
			OR T.ORG_ID IN
			(SELECT ORG_ID FROM ADMIN_SM_USER_MGR_ORG WHERE
			USER_ID=#{userId})
		</if>
	</select>

	<select id="getRoleByUser" parameterType="java.util.Map"
		resultType="java.util.HashMap">
		select t.ROLE_ID as key,t1.ROLE_NAME as value FROM
		ADMIN_SM_USER_ROLE_REL t
		LEFT JOIN ADMIN_SM_ROLE t1 on
		t.ROLE_ID=t1.ROLE_ID
		WHERE t.USER_ID=#{userId} and t.REL_STS='A'
	</select>

	<select id="getDutyByUser" parameterType="java.util.Map"
		resultType="java.util.HashMap">
		select t.DUTY_ID as key,t1.DUTY_NAME as value FROM
		ADMIN_SM_USER_DUTY_REL t
		LEFT JOIN ADMIN_SM_DUTY t1 on
		t.DUTY_ID=t1.DUTY_ID
		WHERE t.USER_ID=#{userId} and t.REL_STS='A'
	</select>

    <!--根据id获取机构信息  -->
    <select id="getorgById" parameterType="string"
            resultType="java.util.HashMap">
		SELECT T.* FROM ADMIN_SM_ORG
		T
		WHERE
		T.ORG_ID = #{orgId}
	</select>
	
    <select id="getorgByIds" parameterType="string" resultType="java.util.HashMap">
		SELECT T.* FROM ADMIN_SM_ORG T
		WHERE T.ORG_ID in 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
	   		#{item}
	   	</foreach>
	</select>

    <!--获取机构信息 只能查询当前用户机构以下(懒加载) -->
    <select id="getOrgByParamLazy" parameterType="java.util.Map"
            resultType="java.util.HashMap">
		SELECT T.* FROM ADMIN_SM_ORG
		T
		WHERE
		T.UP_ORG_ID = #{orgId}
	</select>

    <!--获取机构树 只能查询当前用户机构以下 -->
    <select id="getOrgtreeByParamLazy" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT T_ORG.ORG_ID,T_ORG.ORG_NAME, T_ORG.UP_ORG_ID ,T_ORG.ORG_LEVEL FROM SYS_ORG_VIEW T_ORG
        where
        T_ORG.ORG_STS = 'A'
		AND T_ORG.UP_ORG_ID = #{orgCode}
        <if test="needDpt">
            UNION ALL
            SELECT T_DPT.DPT_ID AS ORG_ID,T_DPT.DPT_NAME AS ORG_NAME ,T_DPT.UP_DPT_ID AS UP_ORG_ID FROM ADMIN_SM_DPT T_DPT
            WHERE T_DPT.BELONG_ORG_ID =#{orgCode}
        </if>

    </select>
        <!--获取机构树 只能查询当前用户机构以下 -->
    <select id="getOrgtreeByParamLazyApp" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT T_ORG.ORG_CODE AS ORG_ID,T_ORG.ORG_NAME, T_ORG.UP_ORG_ID ,T_ORG.ORG_LEVEL FROM SYS_ORG_VIEW T_ORG
        where
        T_ORG.ORG_STS = 'A'
        and T_ORG.ORG_LEVEL in ('2','3')
        <if test="orgCode!=null and orgCode!='' and orgCode!='80101000'">
		 AND T_ORG.UP_ORG_ID = #{orgCode}
		 </if>
        <if test="needDpt">
            UNION ALL
            SELECT T_DPT.DPT_ID AS ORG_ID,T_DPT.DPT_NAME AS ORG_NAME ,T_DPT.UP_DPT_ID AS UP_ORG_ID FROM ADMIN_SM_DPT T_DPT
            WHERE T_DPT.BELONG_ORG_ID =#{orgCode}
        </if>
        <if test="needTeam">
            UNION ALL
            SELECT T_TEAM.TEAM_CODE AS ORG_ID,T_TEAM.TEAM_NAME AS ORG_NAME ,T_TEAM.TEAM_BELONG_ORG AS UP_ORG_ID FROM admin_sm_team T_TEAM
            WHERE T_TEAM.BELONG_ORG_ID =#{orgCode}
        </if>
    </select>

	<select id="selectMktInfoByOrgId"  resultType="java.util.HashMap">
		SELECT
			A.LOGIN_CODE param_id,
			A.USER_NAME param_name
		FROM
			ADMIN_SM_USER A
				INNER JOIN ADMIN_SM_USER_ROLE_REL B ON
				A.USER_ID = B.USER_ID
		WHERE
			B.ROLE_ID = 'R002' AND A.ORG_ID = #{orgId,jdbcType=VARCHAR}
	</select>

	<select id="selectTeamInfoByOrgId"  resultType="java.util.HashMap">
		SELECT A.MKT_TEAM_ID param_id , A.MKT_TEAM_NAME param_name FROM OCRM_F_CM_MKT_TEAM A WHERE A.ORG_ID = #{orgId,jdbcType=VARCHAR}
	</select>



	<select id="selectLookUpItemByIndexId"  resultType="java.util.HashMap">
		SELECT
			a.LOOKUP_ITEM_CODE key ,
			a.LOOKUP_ITEM_NAME value
		FROM
			ADMIN_SM_LOOKUP_ITEM a
		WHERE
			a.LOOKUP_CODE = #{lookUpCode,jdbcType=VARCHAR}
		<if test="lookUpCode=='INDEX_APPLY_TYPE'">
			AND a.LOOKUP_ITEM_CODE IN (
			SELECT
			APPLY_TYPE
			FROM
			PMA_F_INDEX_APPLY_INFO
			WHERE
			index_id = #{indexId,jdbcType=VARCHAR})
		</if>
		<if test="lookUpCode=='YE_TYPE'">
			AND a.LOOKUP_ITEM_CODE IN (
			SELECT
			BAL_TYPE
			FROM
			PMA_F_INDEX_BAL_INFO
			WHERE
			index_id = #{indexId,jdbcType=VARCHAR})
		</if>

		<if test="lookUpCode=='OBJ'">
			AND a.LOOKUP_ITEM_CODE IN (
			SELECT
			EVL_OBJ_TYPE
			FROM
			PMA_F_INDEX_EVL_OBJ_INFO
			WHERE
			index_id = #{indexId,jdbcType=VARCHAR})
		</if>

	</select>
</mapper>
