<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.uimp.distribution.repository.mapper.CommonPerformanceTransMapper">
    <select id="listByModel" parameterType="string" resultType="java.util.HashMap">
		:{value} 
    </select>
    <select id="queryTransferFunInfo" parameterType="string" resultType="java.util.HashMap">
		:{value} 
    </select>
    <select id="queryPerformance" parameterType="string" resultType="java.util.HashMap">
		:{value} 
    </select>
    <select id="queryUserOrgId" parameterType="string" resultType="string">
		SELECT ORG_ID FROM ADMIN_SM_USER 
		    <where>
				AND LOGIN_CODE = #{userId}
         </where>
    </select>
    <select id="excuteQuery" parameterType="string" resultType="java.util.HashMap">
		:{value} 
    </select>
</mapper>