<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.uimp.distribution.repository.mapper.PmaFDistributionModeMapper">
    <resultMap id="BaseResultMap" type="cn.com.yusys.yusp.uimp.distribution.domain.PmaFDistributionMode">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="BRCH_NO" jdbcType="VARCHAR" property="brchNo" />
		<result column="BRCH_NA" jdbcType="VARCHAR" property="brchNa" />
		<result column="EFFECT_DATE" jdbcType="VARCHAR" property="effectDate" />
		<result column="EXPIRATE_DATE" jdbcType="VARCHAR" property="expirateDate" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="CREATE_USER_NAME" jdbcType="VARCHAR" property="createUserName" />
		<result column="CREATE_DT" jdbcType="VARCHAR" property="createDt" />
    </resultMap>
    <sql id="Base_Column_List">
	    ID,BRCH_NO,BRCH_NA,EFFECT_DATE,EXPIRATE_DATE,CREATE_USER,CREATE_USER_NAME,CREATE_DT
    </sql>
    
    <select id="queryList" parameterType="cn.com.yusys.yusp.commons.mapper.QueryModel"
		resultType="java.util.Map">
		select ID,BRCH_NO,BRCH_NA,
		 to_char(to_date(EFFECT_DATE,'yyyyMMdd'),'yyyy-MM-dd') as EFFECT_DATE,
		 to_char(to_date(EXPIRATE_DATE,'yyyyMMdd'),'yyyy-MM-dd') as EXPIRATE_DATE,CREATE_USER,CREATE_USER_NAME,CREATE_DT
		from PMA_F_Distribution_mode 
		<where>
			<if test="condition.brchNo != null and condition.brchNo != ''">
				and BRCH_NO =#{condition.brchNo}
			</if>
		</where> 
	</select>
	
	<delete id="delMode" parameterType="java.lang.String">
		delete from PMA_F_Distribution_mode where BRCH_NO =#{brchNo}
	</delete>
</mapper>