<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscimc.operation.repository.mapper.ActivityEventResultMapper">

    <select id="distinctTransCodeByTempId" parameterType="java.lang.String" resultType="java.lang.String">
        select
            r.trans_code
        from
            (select t.trans_code from ACTIVITY_EVENT_RESULT t where t.activity_id = #{tempId} ) r
        WHERE rownum = 1
    </select>
</mapper>