<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yscimc.operation.repository.mapper.OcrmFCiFqRelationMapper">
    <select id="getSeq" resultType="long">
        select ysc_sequence.nextval
        from dual
    </select>
    <select id="getListByModel" parameterType="cn.com.yusys.yusp.commons.mapper.QueryModel"
            resultType="java.util.HashMap">
        select c.*,t.table_name as join_left_name,t.obj_name as join_left_table_name,
        t3.dbtable_name as join_right_name,t1.group_name as join_right_table_name,
        t2.col_name_e as join_left_col_name,t2.col_name_c as join_left_col_remark,
        t3.col_name_e as join_right_col_name,t3.col_name_c as join_right_col_remark
        from CIMP_F_CI_FQ_RELATION c
        left join CIMP_F_CI_FQ_OBJ t on t.id = c.join_left_table
        left join CIMP_F_CI_FQ_GROUP t1 on t1.id = c.join_right_table
        left join CIMP_F_CI_FQ_DBCOL t2 on t2.id = c.join_left_col
        left join CIMP_F_CI_FQ_DBCOL t3 on t3.id = c.join_right_col where t.table_name =
        #{condition.JOIN_LEFT_NAME, jdbcType=VARCHAR}
        <if test="condition.JOIN_RIGHT_NAME != null and condition.JOIN_RIGHT_NAME !=''">
            and t3.dbtable_name LIKE CONCAT(CONCAT('%', #{condition.JOIN_RIGHT_NAME, jdbcType=VARCHAR}),'%')
        </if>
    </select>

    <select id="getDataObj" resultType="java.util.HashMap">
        select *
        from CIMP_F_CI_FQ_OBJ
        WHERE ID = #{condition.id, jdbcType=VARCHAR}
    </select>
    <select id="getDataObjs" parameterType="string" resultType="java.util.HashMap">
        ${value}
    </select>
    <select id="getColDataObj" parameterType="string" resultType="java.util.HashMap">
        ${value}
    </select>
    <select id="getColDataObjs" parameterType="string" resultType="java.util.HashMap">
        ${value}
    </select>
    <select id="queryRelations" parameterType="string"
            resultType="cn.com.yusys.yscimc.operation.domain.OcrmFCiFqRelation">
        ${value}
    </select>
    <delete id="deletebyid" parameterType="string">
        delete
        from CIMP_F_CI_FQ_RELATION
        where ID = #{id, jdbcType=INTEGER}
    </delete>

    <insert id="addData" parameterType="cn.com.yusys.yscimc.operation.domain.OcrmFCiFqRelation">
        INSERT INTO CIMP_F_CI_FQ_RELATION (ID, JOIN_LEFT_TABLE, JOIN_RIGHT_TABLE, SS_COL_LEFT, JOIN_LEFT_ALIAS,
                                           JOIN_RIGHT_ALIAS, JOIN_LEFT_COL, JOIN_RIGHT_COL)
        VALUES (#{id, jdbcType=INTEGER},
                #{joinLeftName, jdbcType=INTEGER},
                #{joinRightName, jdbcType=INTEGER},
                #{ssColLeft, jdbcType=VARCHAR},
                #{joinLeftAlias, jdbcType=VARCHAR},
                #{joinRightAlias, jdbcType=VARCHAR},
                #{joinLeftColName, jdbcType=INTEGER},
                #{joinRightColName, jdbcType=INTEGER})
    </insert>

    <update id="updateData" parameterType="cn.com.yusys.yscimc.operation.domain.OcrmFCiFqRelation">
        update CIMP_F_CI_FQ_RELATION
        set JOIN_LEFT_COL    = #{joinLeftColName, jdbcType=INTEGER},
            JOIN_RIGHT_COL   = #{joinRightColName, jdbcType=INTEGER},
            JOIN_LEFT_TABLE  = #{joinLeftName, jdbcType=INTEGER},
            JOIN_RIGHT_TABLE =#{joinRightName, jdbcType=INTEGER},
            SS_COL_LEFT      = #{ssColLeft, jdbcType=VARCHAR},
            JOIN_LEFT_ALIAS  = #{joinLeftAlias, jdbcType=VARCHAR}
        where ID = #{id, jdbcType=INTEGER}
    </update>

    <select id="getFqRelationVo" resultType="cn.com.yusys.yscimc.operation.domain.vo.FqRelationVo">
        select t.join_left_table,
               t.join_left_col,
               a.col_name_e   left_col_name,
               a.dbtable_name left_table_name,
               t.join_right_table,
               t.join_right_col,
               b.col_name_e   right_col_name,
               b.dbtable_name right_table_name
        from CIMP_F_CI_FQ_RELATION t
                 left join CIMP_F_CI_FQ_DBCOL a
                           on t.join_left_col = a.id
                 left join CIMP_F_CI_FQ_DBCOL b
                           on t.join_right_col = b.id
    </select>
</mapper>